<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
   <!--meta data-->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ووش - نقي ووش</title>
    <link rel="canonical" href="https://naqiwash.com/" />
    <meta property="og:locale" content="ar_AR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ووش - نقي ووش" />
    <meta property="og:url" content="https://naqiwash.com/" />
    <meta property="og:site_name" content="نقي ووش" />
    <meta property="article:modified_time" content="2023-03-21T16:49:09+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="وقت القراءة المُقدّر" />
    <meta name="twitter:data1" content="4 دقائق" />

    <!-- Favicons -->
    <link rel="icon" href="https://naqiwash.com/wp-content/uploads/2021/03/cropped-NAQI-WASH-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://naqiwash.com/wp-content/uploads/2021/03/cropped-NAQI-WASH-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://naqiwash.com/wp-content/uploads/2021/03/cropped-NAQI-WASH-180x180.png" />

    <link rel='dns-prefetch' href='//cdn.jsdelivr.net' />
    <link rel='prefetch' href='https://naqiwash.com/wp-content/themes/flatsome/assets/js/chunk.countup.js?ver=3.16.7' />
    <link rel='prefetch' href='https://naqiwash.com/wp-content/themes/flatsome/assets/js/chunk.sticky-sidebar.js?ver=3.16.7' />
    <link rel='prefetch' href='https://naqiwash.com/wp-content/themes/flatsome/assets/js/chunk.tooltips.js?ver=3.16.7' />
    <link rel='prefetch' href='https://naqiwash.com/wp-content/themes/flatsome/assets/js/chunk.vendors-popups.js?ver=3.16.7' />
    <link rel='prefetch' href='https://naqiwash.com/wp-content/themes/flatsome/assets/js/chunk.vendors-slider.js?ver=3.16.7' />
    <link rel="alternate" type="application/rss+xml" title="نقي ووش &laquo; الخلاصة" href="https://naqiwash.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="نقي ووش &laquo; خلاصة التعليقات" href="https://naqiwash.com/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="نقي ووش &laquo; ووش خلاصة التعليقات" href="https://naqiwash.com/%d9%85%d8%ab%d8%a7%d9%84-%d8%b9%d9%84%d9%89-%d8%b5%d9%81%d8%ad%d8%a9/feed/" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/CarService.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
          rel="stylesheet" />

    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/callcenter.css" rel="stylesheet">
    <link href="/assets/css/table.css" rel="stylesheet">
    <link href="~/assets/css/order.css" rel="stylesheet" />
    <link href="~/assets/css/signup.css" rel="stylesheet" />

    <style>
        .animated.bounceInDown {
            animation-duration: 1s;
            animation-timing-function: ease-in-out;

        }

    </style>


</head>

<body style="overflow-x:hidden">
@*    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex justify-content- align-items-center">

            <div class="logo">

              <h1><a href="index.html">نقي ووش</a></h1>
              @if(User.Identity.IsAuthenticated)
                {
                    <ul class="me-auto mt-5 d-flex">
                        <li> مرحبا   @ViewBag.UserName</li>


                        <li> <button class="btn btn-info"><a href="/Account/signOut">SignOut</a></button></li>
                    </ul>
                   
                }

            </div>

          <nav class="navbar " >

                    <div class="navbar " id="navbar">
                        <ul id="myUL">
                            <li>
                            <a class="navbar-brand" href="https://naqiwash.com/wp-content/uploads/2021/11/Untitled-1-copy-1024x1024.png">
                                    <img src="https://naqiwash.com/wp-content/uploads/2021/11/Untitled-1-copy-1024x1024.png" class="logo img-fluid" width="50px" height="50px" alt="logo">
                                </a>
                           </li>
                            <li class="nav-item">
                            <a class="nav-link active" href="https://naqiwash.com/">الرئيسية </a>
                            </li>

                            <li class="nav-item">
                            <a class="nav-link" href="https://naqiwash.com/%d9%85%d9%86-%d9%86%d8%ad%d9%86/">من نحن </a>
                            </li>


                            <li class="nav-item">
                            <a class="nav-link" href="https://naqiwash.com/employment/">توظيف </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://naqiwash.com/%d8%b4%d9%83%d9%88%d9%89/">شكوي </a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="https://naqiwash.com/%d8%a7%d8%aa%d8%b5%d9%84-%d8%a8%d9%86%d8%a7/">اتصل بنا </a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="https://naqiwash.com/%d8%a7%d9%84%d8%a7%d8%b3%d8%a6%d9%84%d8%a9_%d8%a7%d9%84%d8%b4%d8%a7%d8%a6%d8%b9%d8%a9/">الاسئلة الشائعة  </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://naqiwash.com/%d8%b7%d9%84%d8%a8%d8%a7%d8%aa-%d8%a7%d9%84%d8%b4%d8%b1%d9%83%d8%a7%d8%aa/">طلبات قطاع الأعمال   </a>
                            </li>

                        </ul>
                    </div>
            </nav>

        </div>
    </header>
*@
    <header id="header" class="d-flex align-items-center justify-content-start">
        <div class="logo">

            @* <h1><a href="index.html">نقي ووش</a></h1>*@
            @if (User.Identity.IsAuthenticated)
            {
@*                <ul class="me-auto mt-5 d-flex">
                    <li> مرحبا   @ViewBag.UserName</li>


                    <li> <button class="btn btn-info"><a href="/Account/signOut">SignOut</a></button></li>
                </ul>
*@
                <ul class="list-group list-group-horizontal">
                    <li class="list-group">  مرحبا  @ViewBag.UserName</li>
                    <li class="list-group mx-4"><a class="text-danger" href="/Account/signOut">تسجيل خروج</a></li>

                </ul>
            }

        </div>
        <span class="nav navbar-brand">
            <a href="https://naqiwash.com/wp-content/uploads/2021/11/Untitled-1-copy-1024x1024.png" >
                <img src="https://naqiwash.com/wp-content/uploads/2021/11/Untitled-1-copy-1024x1024.png"
                     alt="website logo" width="100px" height="100px"id="headerImage">
            </a>
        </span>
        <nav class="navbar d-flex justify-content-end align-items-center">
            <ul class=" d-flex justify-content-start align-items-center ">
                <li><a class="active-nav" href="https://naqiwash.com/">الصفحة الرئيسية</a></li>
                <li><a href="https://naqiwash.com/%d9%85%d9%86-%d9%86%d8%ad%d9%86/">من نحن</a></li>
                <li><a href="https://naqiwash.com/employment/">توظيف</a></li>
                <li><a href="https://naqiwash.com/%d8%b4%d9%83%d9%88%d9%89/">شكوي</a></li>
                <li><a href="https://naqiwash.com/%d8%a7%d8%aa%d8%b5%d9%84-%d8%a8%d9%86%d8%a7/">اتصل بنا </a></li>
                <li><a href="https://naqiwash.com/%d8%a7%d9%84%d8%a7%d8%b3%d8%a6%d9%84%d8%a9_%d8%a7%d9%84%d8%b4%d8%a7%d8%a6%d8%b9%d8%a9/">الأسئلة شائعة</a></li>
                <li><a href="https://naqiwash.com/%d8%b7%d9%84%d8%a8%d8%a7%d8%aa-%d8%a7%d9%84%d8%b4%d8%b1%d9%83%d8%a7%d8%aa/">طلبات قطاع الأعمال </a></li>
            </ul>



        </nav>
    </header>

    <div class="mt-5 overflow-hidden">


        @RenderBody()

    </div>
    <!-- ======= Footer ======= -->
@*    <footer id="footer">
        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <span class="widget-title" style="font-size: large;"> تابعنا على منصات التواصل الإجتماعي :</span>
                    </div>
                    <div class="row large-columns-4 " style="margin-top: 1%;">
                        <div id='sfsi_wDiv'></div>
                        <div class="norm_row sfsi_wDiv " style="width:225px;position:absolute;;text-align:left ;display: flex;">
                            <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px; ' class='sfsi_wicons shuffeldiv '>
                                <div class='inerCnt'>
                                    <a class=' sficn' data-effect='' target='_blank' href='https://twitter.com/naqiwash?s=21' id='sfsiid_twitter_icon' style='width:40px;height:40px;opacity:1;'><img data-pin-nopin='true' alt='Twitter' title='Twitter' src='https://naqiwash.com/wp-content/plugins/ultimate-social-media-icons/images/icons_theme/default/default_twitter.png' width='40' height='40' style='' class='sfcm sfsi_wicon ' data-effect='' /></a>
                                </div>
                            </div><div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px; ' class='sfsi_wicons shuffeldiv '>
                                <div class='inerCnt'>
                                    <a class=' sficn' data-effect='' target='_blank' href='https://www.instagram.com/naqiwash/' id='sfsiid_instagram_icon' style='width:40px;height:40px;opacity:1;'><img data-pin-nopin='true' alt='Instagram' title='Instagram' src='https://naqiwash.com/wp-content/plugins/ultimate-social-media-icons/images/icons_theme/default/default_instagram.png' width='40' height='40' style='' class='sfcm sfsi_wicon ' data-effect='' /></a>
                                </div>
                            </div>
                            <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px; ' class='sfsi_wicons shuffeldiv '><div class='inerCnt'><a class=' sficn' data-effect='' target='_blank' href='https://www.snapchat.com/add/naqiwash' id='sfsiid_snapchat_icon' style='width:40px;height:40px;opacity:1;'><img data-pin-nopin='true' alt='' title='' src='https://naqiwash.com/wp-content/plugins/ultimate-social-media-icons/images/icons_theme/default/default_snapchat.png' width='40' height='40' style='' class='sfcm sfsi_wicon ' data-effect='' /></a></div></div>
                            <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px; ' class='sfsi_wicons shuffeldiv '><div class='inerCnt'><a class=' sficn' data-effect='' target='_blank' href='https://www.tiktok.com/naqiwash' id='sfsiid_tiktok_icon' style='width:40px;height:40px;opacity:1;'><img data-pin-nopin='true' alt='' title='' src='https://naqiwash.com/wp-content/plugins/ultimate-social-media-icons/images/icons_theme/default/default_tiktok.png' width='40' height='40' style='' class='sfcm sfsi_wicon ' data-effect='' /></a></div></div>
                        </div><div id="sfsi_holder" class="sfsi_holders" style="position: relative; float: left;width:100%;z-index:-1;"></div><script>
                                                                                                                                                  window.addEventListener("sfsi_functions_loaded", function () {
                                                                                                                                                      if (typeof sfsi_widget_set == "function") {
                                                                                                                                                          sfsi_widget_set();
                                                                                                                                                      }
                                                                                                                                                  });</script>			<div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-primary" style="margin-top: 3%;">
            <div class="menu-%d8%a7%d9%84%d9%82%d8%a7%d8%a6%d9%85%d8%a9-%d8%a7%d9%84%d8%b3%d9%81%d9%84%d9%8a%d8%a9-container">
                <ul id="menu-%d8%a7%d9%84%d9%82%d8%a7%d8%a6%d9%85%d8%a9-%d8%a7%d9%84%d8%b3%d9%81%d9%84%d9%8a%d8%a9" class="links footer-nav uppercase" style="    display: flex;justify-content: center;list-style-type: none;">
                    <li id="menu-item-285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285" style="margin-left: 1%;"><a href="https://naqiwash.com/retrieval/">سياسة الاسترجاع</a></li>
                    <li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287" style="margin-left: 1%;"><a href="https://naqiwash.com/privacy/">سياسة الخصوصية</a></li>
                    <li id="menu-item-286" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-286" style="margin-left: 1%;"> <a href="https://naqiwash.com/delivery/">سياسة التوصيل والخدمة</a></li>
                    <li id="menu-item-849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-849" style="margin-left: 1%;"><a href="https://naqiwash.com/%d8%a7%d9%84%d8%b4%d9%87%d8%a7%d8%af%d8%a9-%d8%a7%d9%84%d8%b6%d8%b1%d9%8a%d8%a8%d9%8a%d8%a9/">الشهادة الضريبية</a></li>
                    <li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288" style="margin-left: 1%;"><a href="https://naqiwash.com/terms/">شروط الاستخدام</a></li>
                    <li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290" style="margin-left: 1%;"><a href="https://naqiwash.com/payment_methods/">طرق الدفع</a></li>
                    <li id="menu-item-893" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-893" style="margin-left: 1%;"><a href="https://naqiwash.com/%d8%a7%d9%84%d8%a7%d8%b3%d8%a6%d9%84%d8%a9_%d8%a7%d9%84%d8%b4%d8%a7%d8%a6%d8%b9%d8%a9/">الاسئلة الشائعة</a></li>
                    <li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-283" style="margin-left: 1%;"><a href="https://naqiwash.com/%d8%a7%d8%aa%d8%b5%d9%84-%d8%a8%d9%86%d8%a7/">اتصل بنا</a></li>
                    <li id="menu-item-282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-282"><a href="https://naqiwash.com/" aria-current="page">المتجر</a></li>
                </ul>
            </div> <div class="copyright-footer" style="text-align: center;">
                Copyright 2023 © <strong>Naqi Wash</strong>
            </div>
        </div>
        </div>
        </div>


    </footer>*@
  <div class="container-fluid p-0 mt-5">

        <footer class="text-center text-lg-start text-white">
            <!-- Grid container -->
            <div class="container py-2">
                <!--Grid row-->
                <div class="row my-2">
                    <!--1 st column-->
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0 py-5">
                        <h5 class="text-uppercase mb-4">تابعنا على منصات التواصل الإجتماعي </h5>

                        <ul class="list-unstyled">
                            <span>
                                <a href="https://www.snapchat.com/add/naqiwash"><img src="~/assets//images/icons8-snapchat-48 (1).png" alt="snapchat logo " class="px-3 footerIcon" loading="lazy"></a>
                            </span>
                            <span>
                                <a href="https://twitter.com/naqiwash?s=21"><img src="~/assets/images/icons8-twitter-48.png" alt="twitter logo" class="px-3 footerIcon" loading="lazy"></a>
                            </span>
                            <span>
                                <a href="https://www.instagram.com/naqiwash/"><img src="/assets/images/icons8-instagram-48.png" alt="instagram logo" class="px-3 footerIcon" loading="lazy"></a>
                            </span>
                            <span>
                                <a href="https://www.tiktok.com/naqiwash"><img src="~/assets/images/icons8-tiktok-50.png" alt="tiktok logo" class="px-3 footerIcon" loading="lazy"></a>
                            </span>
                        </ul>
                    </div>
                    <!--2nd column-->
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0">

                        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto mt-3" id="mainFooterLogo" style="width: 150px; height: 150px;">
                            <img src="https://naqiwash.com/wp-content/uploads/2021/11/Untitled-1-copy-1024x1024.png" height="70" alt="" loading="lazy" />
                        </div>

                        <p class="text-center">ووش نقي ووش هنا تجد كل ما تحتاجه سيارتك </p>


                    </div>

                </div>
                <!--Grid row-->
                <!-- #footer-tags div ul li :hover -->
                <div class="row my-2 " id="footer-tags">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-md-0 ">

                        <li><a class="active-nav" href="https://naqiwash.com/retrieval/"> سياسة الأرتجاع</a></li>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-md-0">
                        <li><a href="https://naqiwash.com/privacy/"> سياسة الخصوصية</a></li>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-md-0">
                        <li><a href="https://naqiwash.com/delivery/">سياسة التوصيل والخدمة</a></li>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-md-0">
                        <li><a href="https://naqiwash.com/%d8%a7%d9%84%d8%b4%d9%87%d8%a7%d8%af%d8%a9-%d8%a7%d9%84%d8%b6%d8%b1%d9%8a%d8%a8%d9%8a%d8%a9/">الشهادة الضريبية</a></li>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-md-0">
                        <li><a href="https://naqiwash.com/terms/">شروط الأستخدام   </a></li>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-md-0">
                        <li><a href="https://naqiwash.com/payment_methods/">طرق الدفع </a></li>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-md-0">
                        <li><a href="https://naqiwash.com/%d8%a7%d9%84%d8%a7%d8%b3%d8%a6%d9%84%d8%a9_%d8%a7%d9%84%d8%b4%d8%a7%d8%a6%d8%b9%d8%a9/">الأسئلة الشائعة   </a></li>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-md-0">
                        <li><a href="https://naqiwash.com/%d8%a7%d8%aa%d8%b5%d9%84-%d8%a8%d9%86%d8%a7/">اتصل بنا</a></li>

                    </div>
                    <div class="col-lg-4 col-md-6  mb-4 mb-md-0">
                        <li><a href="https://naqiwash.com/">المتجر</a></li>

                    </div>


                </div>
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
                <a class="text-white" href="https://naqiwash.com/">Naqi Wash</a>
            </div>
            <!-- Copyright -->
        </footer>

    </div>

    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <!-- Template Main JS File -->

    <script src="/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                Swal.fire({
                    icon: 'success',
                    title: 'تم ارسال الطلب بنجاح',
                    showConfirmButton: false,
                    timer: 2000,
                    animation: true,
                    customClass: {
                        popup: 'animated bounceInDown'
                    }
                })
            });
        });
    </script>


</body>

</html>
