
@{
    ViewData["Title"] = "About Us";
    Layout = "_NewLayout";
}

<main>

    <section class="section-padding">
        <div class="container">
            <div class="row">


                <div class="col-lg-6 col-12">
                    <div class="featured-block">
                        <h2 class="mb-4" dir="rtl">نقى ووش</h2>

                        <p dir="rtl">نقي ووش أحد الشركات التابعة لنقي، تأسست عام 2020م لتكون رائدة في تقديم خدمات تلميع وغسيل السيارات المتنقل على مستوى المملكة العربية السعودية ومنها إلى الخليج والعالم.</p>
                        <p dir="rtl">تسعى نقي ووش لتقديم تجربة وجودة خدمات احترافية بحلول مبتكرة، بدأت العلامة التجارية عملياتها من الرياض.</p>
                        <p dir="rtl">تعمل نقي ووش باستمرار على ابتكار وتوفير حلول مبتكرة لنقل مستوى خدمة تلميع وغسيل السيارات المتنقلة إلى مستوى عالمي، لتكون نقي ووش الخيار الأول للعميل.</p>
                        <a class="custom-btn btn button button--atlas mt-3" href="/Home/ContactUs">
                            <span>أبق على تواصل</span>

                            <div class="marquee" aria-hidden="true">
                                <div class="marquee__inner">
                                    <span>أبق على تواصل</span>
                                    <span>أبق على تواصل</span>
                                    <span>أبق على تواصل</span>
                                    <span>أبق على تواصل</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <img src="~/assets/images/cleaning-concept-with-man-showing-business-card.jpg" class="featured-image img-fluid">
                </div>

            </div>
        </div>
    </section>


    <section class="team-section section-padding section-bg">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <h2 class="mb-4" dir="rtl">تواصل مع الفنيين</h2>
                </div>
              
                <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-md-5">
                    <img src="~/assets/images/teams/young-cleaning-man-wearing-casual-clothes.jpg" class="team-image img-fluid">
                </div>

                <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-lg-center mt-4 mt-lg-0 mt-md-0 mb-5 mb-lg-0">
                    <div class="team-info mx-auto mx-lg-0">
                        <h4 class="mb-2" dir="rtl">أحمد</h4>

                        <p dir="rtl">مرحبا بك أنا أحمد أعمل فى نقى ووش كفنى متخصص فى غسيل السيارات بجميع أنواعها يمكنك التواصل معى للحصول على أفضل خدمة</p>

                        <div class="border-top mt-3 pt-3">
                            <p class="d-flex mb-0">

                                <i class="bi-whatsapp me-2"></i>
                                <a href="tel: 110-220-9800">
                                    110-220-9800
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <img src="~/assets/images/teams/happy-young-woman-wiping-kitchen-counter-wearing-yellow-gloves.jpg" class="team-image img-fluid">
                </div>

                <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-lg-center mt-4 mt-lg-0 mt-md-0">
                    <div class="team-info mx-auto mx-lg-0">
                        <h4 class="mb-2" dir="rtl">سلمى</h4>

                        <p dir="rtl">مرحبا أنا سلمى أعمل فى نقى ووش متخصصة فى غسيل السيارات الخاصة يمكنك التواصل معى للحصول على أفضل خدمة</p>

                        <div class="border-top mt-3 pt-3">
                            <p class="d-flex mb-0">
                                <i class="bi-whatsapp me-2"></i>

                                <a href="tel: 110-220-9800">
                                    110-220-9456
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="partners-section">
        <div class="container">
            <div class="row justify-content-center align-items-center">

                <div class="col-lg-12 col-12">
                    <h4 class="partners-section-title bg-white shadow-lg " id="supportedCpmpanies">معـتمدة من خـلال الـشركات </h4>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/assets/images/partners/toprak-leasing.svg" class="partners-image img-fluid">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/assets/images/partners/glorix.svg" class="partners-image img-fluid">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/assets/images/partners/woocommerce.svg" class="partners-image img-fluid">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/assets/images/partners/rolf-leasing.svg" class="partners-image img-fluid">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/assets/images/partners/unilabs.svg" class="partners-image img-fluid">
                </div>

            </div>
        </div>
    </section>

</main>

