
@{
    ViewData["Title"] = "CallCenter";
    Layout = "_NavAndFooter";
}

<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(assets/img/slide/callc3.jpg); background-size: cover; ">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">تواصل  <span>فعال</span></h2>
                            <p class="animate__animated animate__fadeInUp fw-bold">،عنواننا الدقة والإتقان ، فنحن نجمع كل تفاصيل طلبات عملائنا الكرام لنحقق لهم النظافة الكاملة واللمعان الذي يليق بسياراتهم الفخم</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">تفاصيل</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/call4.jpg);  background-size: cover;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated fanimate__adeInDown">أفضل <span>الخدمات</span>   </h2>
                            <p class="animate__animated animate__fadeInUp fw-bold">تواصلنا مع عملائنا هو الجسر الذي يربط بين الخبرة الفنية والحاجة الملحة لعملائنا، فنحن نحرص على الاستماع بعناية لكل تفاصيل طلباتهم وتوجيههم نحو الحل الأمثل والأفضل لتلبية احتياجاتهم بدقة وجودة عالية</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">تفاصيل</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/CallC1.jpg);  background-size: cover;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">خبرة <span> دقيقة</span></h2>
                            <p class="animate__animated animate__fadeInUp fw-bold">نحن دائماً مستعدون للاستماع لمتطلباتكم وتلبية جميع احتياجاتكم لنضمن لكم الرضا التام والإبهار الحقيقي عندما ترى سيارتكم تلمع ببريق جديد</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp"> تفاصيل</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section>



<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">
            <div class="service-40 py-5 wrap-feature40-box" style="background-image:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature40/img1.jpg); margin-left: -5%;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card border-0 mb-4">
                                <div class="icon-box">
                                    <i><img src="assets/img/add-user.png" class="rounded" style="width:15%;height: 10%;"></i>
                                    <h3>الاشتراك </h3>
                                    <a class="btn btn-info-gradiant btn-md btn-rounded border-0 text-white" href="#f40"><span>أضغط هنا</span></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card border-0 mb-4">
                                <div class="icon-box">
                                    <i><img src="assets/img/login.png" class="rounded" style="width:15%;height: 10%;"></i>
                                    <h3> تسجيل الدخول</h3>
                                    <a class="btn btn-info-gradiant btn-md btn-rounded border-0 text-white" href="#f40"><span>أضغط هنا</span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Section -->

</main>
<!-- End #main -->

