
@{
    ViewData["Title"] = "Contact Us";
    Layout = "_NewLayout";
}

        <main>

            <section class="banner-section d-flex justify-content-center align-items-end">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-7 col-12">
                            <h1 class="text-white mb-lg-0">أتصل بنا</h1>
                        </div>

                        <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item  ps-2 " id="mainbredcrumb" style="#mainbredcrumb:hover{color:black}"><a href="/">الصفحة الرئيسية </a></li>
                                    <li class="breadcrumb-item active" aria-current="page">أتصل بنا</li>

                                </ol>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>
         

            <section class="contact-section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-12 me-auto mb-lg-0 mb-5" >
                            <h2 class="my-3" dir="rtl">سعداء لمساعدتك</h2>

                            <p dir="rtl">أفضل خدمة تنظيف جاهزة لخدمتك</p>
                            <p dir="rtl">ووش نقى هو أفضل خدمة غسـيل سيارات فى المملكة العربية السعودية </p>
                            <div class="contact-info bg-white shadow-lg" dir="rtl" >
                                <h3 class="mb-4" dir="rtl">بيانات التواصل</h3>

                                <h5 class="d-flex mt-3 mb-3">
                            <img src="~/assets/images/location.png" width="36px" height="25px" style="display:inline" class="ps-2" />
                            السعودية - الرياض
                                </h5>

                                <h5 class="d-flex mb-3">
                                    
                            <img src="~/assets/images/whatsapp.png" width="36px" height="25px" style="display:inline" class="ps-2" />
                            <a href="tel: 01024051456">
                                        &#1638; &#1637; &#1636;   &#1633; &#1637; &#1632; &#1636;  &#1634;  &#1632; &#1633; &#1632;                                   
                                    </a>
                                </h5>

                                <h5 class="d-flex">
                                    
                            <img src="~/assets/images/gmail.png" width="36px" height="25px" style="display:inline" class="ps-2" />
                            <a href="mailto:mohamed.refaat.99380@gmail.com">
                                        washnaqi2023@gmail.com
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <form class="custom-form consulting-form bg-white shadow-lg mb-5 mb-lg-0" action="#" method="post" role="form">
                                <div class="consulting-form-header d-flex align-items-center" dir="rtl">
                                    <h3 class="mb-4">احصل على عرض أسعار مجاني</h3>
                                </div>
    
                                <div class="consulting-form-body">
                                    <div class="row">
                                        
                                        <div class="col-lg-6 col-md-6 col-12" dir="rtl" >
                                            <input type="email" name="volunteer-email" id="volunteer-email"  class="form-control" placeholder="البريد الالكترونى" required >
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12" dir="rtl">
                                            <input type="text" name="volunteer-name" id="volunteer-name" class="form-control" placeholder="الاسم" required>
                                        </div>
                                    </div>
    
    
                                    <textarea dir="rtl" name="volunteer-message" rows="3" class="form-control" id="volunteer-message" placeholder="التعليق (أكتب تعليقك هنا)"></textarea>
    
                                    <div class="col-lg-6 col-md-10 col-8 mx-auto">
                                        <button type="submit" class="form-control">إرسال</button>
                                    </div>
                                </div>
                            </form>
                        </div>



                    </div>
                </div>
            </section>
        </main>

