
@{
    ViewData["Title"] = "LogIn";
}

<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <!-- Section: Design Block -->
                    <section class="text-center">
                        <!-- Background image -->
                        <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
                        <!-- Background image -->

                        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
                            <div class="card-body py-5 px-md-5">

                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-8">
                                        <h2 class="fw-bold mb-5">سجل دخولك معنا</h2>
                                        <form>
                                            <!-- 2 column grid layout with text inputs for the first and last names -->
                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example1" class="form-control" />
                                                        <label class="form-label" for="form3Example1">الأسم الأول</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <label class="form-label" for="form3Example2">الأسم الأخير</label>
                                                        <input type="text" id="form3Example2" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Email input -->
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form3Example3">أسم المستخدم</label>
                                                <input type="email" id="form3Example3" class="form-control" />
                                            </div>

                                            <!-- Password input -->
                                            <div class="form-outline mb-4">
                                                <input type="password" id="form3Example4" class="form-control" />
                                                <label class="form-label" for="form3Example4">كلمة المرور</label>
                                            </div>

                                            <!-- Submit button -->
                                            <button type="submit" class="btn btn-block mb-4" style="background-color: #5691e9; color: whitesmoke; ">
                                                تسجيل الدخول
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section: Design Block -->
                </div>

            </div>
        </div>

    </section>
</main>
<!-- MDB -->

