
@{
    ViewData["Title"] = "SignUp";
}

<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="assets/img/signUp.jpg"
                                     alt="Sample photo" class="img-fluid"
                                     style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height: 100%;" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase">قم بتسجيل بياناتك</h3>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1m">اللأسم الأول</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1n">الأسم الأخير</label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- <div class="row">
                                                     <div class="col-md-6 mb-4">
                                                       <div class="form-outline">
                                                         <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                                                         <label class="form-label" for="form3Example1m1">Mother's name</label>
                                                       </div>
                                                     </div>
                                                     <div class="col-md-6 mb-4">
                                                       <div class="form-outline">
                                                         <input type="text" id="form3Example1n1" class="form-control form-control-lg" />
                                                         <label class="form-label" for="form3Example1n1">Father's name</label>
                                                       </div>
                                                     </div>
                                                   </div>
                                    -->
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example8" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example8">العنوان</label>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-lg-6">

                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>المدينه</option>
                                                <option value="1">الرياض</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>

                                        </div>

                                        <div class="col-lg-6">

                                            <select class="form-select" aria-label="Default select example" style="font-size: 78%;">
                                                <option value="1">المسمى الوظيفي</option>
                                                <option value="2"> مشرف</option>
                                                <option value="3">فني</option>
                                                <option value="4">مشرف جوده </option>
                                            </select>

                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example9" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example9">كلمة المرور</label>
                                    </div>

                                    <br>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example90" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example90">تأكيد كلمة المرور</label>
                                    </div>

                                    <br>
                                    <!-- <div class="form-outline mb-4">
                                      <input type="text" id="form3Example99" class="form-control form-control-lg" />
                                      <label class="form-label" for="form3Example99">Course</label>
                                    </div> -->

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example97" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example97">الأيميل</label>
                                    </div>

                                    <br>

                                    <div class="d-flex justify-content-end pt-3">
                                        <!-- <button type="button" class="btn btn-light btn-lg">Reset all</button>
                                        <button type="button" class="btn btn-warning btn-lg ms-2">Submit form</button> -->
                                        <a class="btn  btn-lg ms-2 btn-info-gradiant btn-md btn-rounded border-0" href="#f40" style="background-color: #5691e9; color: whitesmoke; width: 40%;"><span>تأكيد</span></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
<!-- MDB -->

