
@{
    ViewData["Title"] = "Table";
}
<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container" style="margin-top: 5%;">
            <div class="row" style="width: 100%;">
                <div class="col-md-offset-1 col-md-10" style="width: 100%;">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-sm-3 col-xs-12">
                                    <h4 class="title">قسم <span>التواصل</span></h4>
                                </div>
                                <div class="col-sm-9 col-xs-12 text-right">
                                    <div class="btn_group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <button class="btn btn-default" title="Reload"><i class="fa fa-sync-alt"></i></button>
                                        <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                                        <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>التاريخ</th>
                                        <th>الوقت</th>
                                        <th>المدينة</th>
                                        <th>الحي</th>
                                        <th>حجم السيارة</th>
                                        <th>رقم العميل</th>
                                        <!-- <th>الموظف</th> -->
                                        <th>الحالة</th>
                                        <th>ملحوظة</th>
                                        <th> تاريخ الخدمة </th>
                                        <th> source </th>
                                        <th> تعديل او تأكيد</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                      
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10-3-2023</td>
                                        <td>12:30ص</td>
                                        <td>جدة</td>
                                        <td>الحمدانية</td>
                                        <td>بريميم سياره صغيره 394 ريال</td>
                                        <td>4353633635</td>
                                        <!-- <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option>اختر الموظف</option>
                                                <option value="1">cc 23</option>
                                                <option value="2">cc 02</option>
                                                <option value="3">cc 03</option>
                                              </select>
                                        </td> -->
                                        <td>
                                            <select class="form-select" aria-label="Default select example">
                                                <option> اختر الحاله</option>
                                                <option value="1">غير جاد</option>
                                                <option value="2">موعد</option>
                                                <option value="3">استفسار</option>
                                            </select>
                                        </td>
                                        <td>تم التواصل</td>
                                        <td>1-2-2023</td>
                                        <td>mobile.app</td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
                                <div class="col-sm-6 col-xs-6">
                                    <ul class="pagination hidden-xs pull-right">
                                        <li><a href="#">{</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">}</a></li>
                                    </ul>
                                    <ul class="pagination visible-xs pull-right">
                                        <li><a href="#">{</a></li>
                                        <li><a href="#">}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
</main>

