
@{
    ViewData["Title"] = "Thiecnican";
}

<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(assets/img/slide/wash.jpg); background-size: cover; ">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">جودة <span>متفوقة</span></h2>
                            <p class="animate__animated animate__fadeInUp fw-bold"> يعمل أفضل الفنيين في هذا المجال، الذين يتميزون بالخبرة والدقة في كل خطوة من عملية الغسيل والتلميع</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">تفاصيل</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/wash1.jpg);  background-size: cover;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated fanimate__adeInDown"> تقنية<span>حديثة</span>   </h2>
                            <p class="animate__animated animate__fadeInUp fw-bold">نحن نضمن لكم الحصول على خدمة ذات جودة عالية ودقة متناهية، وذلك بفضل خبرتنا الواسعة في مجال غسل وتلميع السيارات، واستخدامنا لأحدث المعدات والتقنيات العالمية لتلبية احتياجاتكم بأفضل الطرق الممكنة</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">تفاصيل</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/car3.jpg);  background-size: cover;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated fanimate__adeInDown">تفاصيل <span>سيارتك</span>  تهمنا </h2>
                            <p class="animate__animated animate__fadeInUp fw-bold">.نحن نضمن لكم الحصول على خدمة فريدة ومميزة، وذلك بفضل جهود فريق الفني المتميز والمدرب على أعلى مستوى، والذي يعمل دائمًا على تلبية احتياجاتكم بكل دقة واحترافية</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp"> تفاصيل</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section>



<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">
            <div class="service-40 py-5 wrap-feature40-box" style="background-image:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature40/img1.jpg); margin-left: -5%;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card border-0 mb-4">
                                <div class="icon-box">
                                    <i><img src="assets/img/add-user.png" class="rounded" style="width:15%;height: 10%;"></i>
                                    <h3>الاشتراك</h3>
                                    <a class="btn btn-info-gradiant btn-md btn-rounded border-0 text-white" href="#f40"><span>أضغط هنا</span></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card border-0 mb-4">
                                <div class="icon-box">
                                    <i><img src="assets/img/login.png" class="rounded" style="width:15%;height: 10%;"></i>
                                    <h3> تسجيل الدخول</h3>
                                    <a class="btn btn-info-gradiant btn-md btn-rounded border-0 text-white" href="#f40"><span>أضغط هنا</span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Section -->

</main>
<!-- End #main -->
