@model CarService.ViewModel.RegistrationViewModel

@{
    ViewData["Title"] = "CoordinatorRegistration";
    Layout = "_NavAndFooter";
}

<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(/assets/img/slide/coo1.jpg); background-size: cover; ">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate_animated animate_fadeInDown">تنسيق <span>متقن</span></h2>
                            <p class="animate_animated animate_fadeInUp fw-bold"> قسم التنسيق في شركتنا يتولى توصيلكم بفنيي الغسيل الماهرين الذين يضمنون لكم النظافة الكاملة والتفاصيل الدقيقة للسيارة، فنحن نجعل من عملية الغسيل والتلميع تجربة لا تنسى، وذلك بفضل احترافية فنيينا ودقة تنسيقنا</p>
                            <a href="" class="btn-get-started animate_animated animate_fadeInUp">تفاصيل</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(/assets/img/slide/coo3.jpg);  background-size: cover;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate_animated fanimate_adeInDown">   خدمة  متميزة</h2>
                            <p class="animate_animated animate_fadeInUp fw-bold">نحرص على التنسيق الفعال والمنظم لكل طلبات الغسيل والتلميع، حتى نضمن تلبية احتياجات عملائنا بكل كفاءة وجودة، فنحن نضع في اعتبارنا تفاصيل السيارة ومتطلبات العميل، ونختار أفضل فنيي الغسيل والتلميع لضمان النتيجة المثالية التي يتوقعها العمي</p>
                            <a href="" class="btn-get-started animate_animated animate_fadeInUp">تفاصيل</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(/assets/img/slide/coo2.jpg);  background-size: cover;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate_animated animate_fadeInDown">تخطيط <span>متقن</span></h2>
                            <p class="animate_animated animate_fadeInUp fw-bold"> نعمل بتنظيم دقيق واهتمام كبير لإدارة كل عملية غسيل وتلميع سيارة، حتى نضمن الجودة العالية والخدمة المميزة التي تستحقونها كعملائنا الكرام</p>
                            <a href="" class="btn-get-started animate_animated animate_fadeInUp"> تفاصيل</a>
                        </div>
                    </div>
                </div>

            </div>

   

        </div>
    </div>
</section>



<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">
            <div class="service-40 py-5 wrap-feature40-box" style="background-image:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature40/img1.jpg); margin-left: -5%;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card border-0 mb-4">
                                <div class="icon-box">
                                    <i><img src="/assets/img/add-user.png" class="rounded" style="width:15%;height: 10%;"></i>
                                    <h3>الاشتراك </h3>
                                    <a class="btn btn-info-gradiant btn-md btn-rounded border-0 text-white" href="CoordinatorUsers"><span>أضغط هنا</span></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card border-0 mb-4">
                                <div class="icon-box">
                                    <i><img src="/assets/img/login.png" class="rounded" style="width:15%;height: 10%;"></i>
                                    <h3> تسجيل الدخول</h3>
                                    <a class="btn btn-info-gradiant btn-md btn-rounded border-0 text-white" href="/account/CoordenatorLogin"><span>أضغط هنا</span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Section -->

</main>
<!-- End #main -->
